<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<head>

<style>

*{padding: 0%;
margin: 0%;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
@keyframes flot {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	0% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
@keyframes flat {
	0% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(+120px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}


body{background-image: url("b.jpg");
background-size: cover;

}
.up{

  text-align: center;
  margin-top:4%;
  color:black;
  width:auto;
  font-size: 300%;
  text-decoration: underline;
}
header{
  z-index: 10;

}
/*{z-index:0;
position: fixed;}*/
.hi{

  overflow: hidden !important;
height: 2% !important;}
.slidesjs-container{
height: 2% !important;
overflow: hidden !important;
}

</style>
<!-- End SlidesJS Optional-->

<!-- SlidesJS Required: These styles are required if you'd like a responsive slideshow -->
<style>

  .container {
    margin: 0 0;
    padding: 2% 0 0 40%;

  }

  /* For tablets & smart phones */
  @media (max-width: 767px) {
    body{background-image: url("b.jpg");
  background-size: cover;}
  .container{padding: 0 0;
}
  }

  /* For smartphones */
  @media (max-width: 480px) {
    body{background-image: url("b.jpg");
  background-size: cover;}
  .container{padding: 0 0;
}
  }

  /* For smaller displays like laptops */
  @media (min-width: 768px) and (max-width: 979px) {
    .container{padding: 0 0;
 }
      body{background-image: url("b.jpg");
    background-size: cover;}
  }

  /* For larger displays */
  @media (min-width: 1200px) {  }

</style>
<style>
body {margin:0;}

</style>
</head>

<style media="screen">
.menu{background-color:black;
top:0px;
position:static;
height: 40px;
margin-bottom: 0%;
box-shadow: 0 10px 15px 0px rgba(0,0,0,0.8);
padding-top: 2%;
padding-left:2%;
padding-right:2%;}
.ite{display: inline;
  float: right;
}
.logo{color: white;
font-family: lobster;}
a{text-decoration: none;}
.ary{display: none;
  border-radius: 50%;
  color: white;
font-size: 35px;
top:1.5%;
position: fixed;}

@media (max-width: 720px) {
.menu{padding-top: 3%;}
  .ite{display: none;}
  .logo{margin-left:33%;
    font-size: 180%;
  }
.ary{display: inline;
margin-left: 3%;}
}

</style>
</head>
<header>
  <!--sidebar--------------------------------------------------------------------->

  <style media="screen">
  .hold{

    display: block;
    padding-top:2%;
    border-bottom: 2px solid dimgrey;
    border-top: 1px solid white;
    height: auto;
  text-align: center;
  }
    a{text-decoration: none;
  text-align: justify;
    color:black;
  display: inline-flex;
  margin-bottom: 3%;
  font-size: 250%}
    .hid{height: 100%;
background-image:url('/b.jpg');
      top: 0;
      position: absolute;
      z-index: 100000000;
  margin-left:-320px;
      box-shadow: inset 0 15px 0px 0px dimgrey;
      padding-top: 10%;
      padding-left: 3%;
  padding-right: 3%;
    width: 80%;
    background-color:rgba(10,10,35,1);
  color:black;
  text-decoration: none;}

  .ou{border-bottom:  5px solid rgba(0,0,0,0.9);
    border-radius: 20px;
  height: 30%;

  }
  .rl{
    border-top: 5px  dimgrey;
    border: 5px solid dimgrey;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: dimgrey;

  color: white;
  font-weight:bolder;
  margin-left: 90px;
  }
  .set{
    display: inline;
  font-size: 40px;
  }
  @media (min-width: 720px){
    .hid{display: none;}
    .big{margin-top:5px;}
  }
  </style>
  <div class="hid">
    <div class="ou">

    <div class="rl" style="background-image:url('/fo.png'); background-size:cover; background-repeat:no-repeat;">

    </div>
    <i class="back fa fa-chevron-circle-left fa-4" style=" margin-top:-20px; font-size:60px;display:block; float:right;" aria-hidden="true"></i>
  </div>

    <div class="hold" style="border-top:none;">
    <a href="/" style="margin-top:15%;">Home</a>
    <i class="set fa fa-home fa-8" aria-hidden="true"></i></div>
  <div class="hold">
    <a href="/gal">Whats New</a>
    <i class="set fa fa-eercast fa-8" aria-hidden="true"></i>
  </div>

    <div class="hold">
      <a href="/con">Contact Us</a>
  <i class="set fa fa-tty fa-8" aria-hidden="true"></i>
    </div>
  <div class="hold" style="border-bottom:none;">
    <a href="about">About Us</a>
  <i class="set fa fa-users fa-8" aria-hidden="true"></i>
  </div>

    </div>
    <!--sidebar-->
  <i class="ary fa fa-chevron-circle-right fa-4" aria-hidden="true"></i>
  <div class="menu">
  <a class="logo" href="/">Foss Assam</a>
  <div class="ite">
    <a href="/">Home</a>
    <a href="/gal">Whats New</a>
    <a href="/con">Contact Us</a>
    <a href="about">About Us</a>
    </div>
</div>
<style media="screen">

.hid{top:0%;
position: fixed;}
</style>
</header>
<script>
  $('.ary').on('click', function () {
$(".hid").animate({marginLeft: '0px' }, 500);

  });

  $('.back').on('click', function () {
$(".hid").animate({marginLeft: '-500px' }, 500);

  });
</script>





<div class="up" style="font-family:lobster;top:0;possition:fixed;box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);  animation: float 3s ease-in-out;">
  About Us

</div>
<style>
.container{

}
.big{

	  animation: flat 3s ease-in-out ;
	margin-top: 5%;
width:85%;
border-bottom-right-radius: 50px;
 border-bottom-left-radius: 50px;

box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  display: inline-flex;}
  .tt{width: 75%;
text-align:justify;
  }
  .oo{
background-color: rgba(0,0,0,0.5);
    padding: 4px;
    width:50px;height:50px;border-radius:50%;
    animation: float 6s ease-in-out infinite;
  }

</style>

<div class="container">
<div class="big animated flipInX"><img class="oo paul"  src="people/joi.jpg">
<div class="tt" style=" margin-left:2%;"> <strong>Joinal Ahmed::</strong>
	<br> ||Co-Founder||<br>
   Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor<strong class="r ho1">read more..</strong><p class="on1"style="display:none;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div></div>

<div class="big animated flipInX" style="float:right;">
<div class="tt" style=" margin-left:9%;"> <strong>Brijesh Kumar::
</strong><br>||Co.founder||<br>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <strong class="r ho2">read more..</strong>
	<p class="on2"style="display:none;">
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</pr></div>
<img class="oo kan" src="people/bri.jpg">
</div>

<div class="big animated flipInX"><img class="oo neo"  src="people/suo.jpg">
<div class="tt" style=" margin-left:2%;"> <strong>Sujit Kumar Das::
</strong><br>||TECH-Advisior||<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor<strong class="r ho3">read more..</strong><p class="on3"style="display:none;">
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</pr>
</div></div>

<div class="big animated flipInX" style="float:right;">
<div class="tt" style=" margin-left:9%;"> <strong>Sujeet Kumar Pandey::
</strong><br>||TECH-Advisior||<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor<strong class="r ho4">read more..</strong><p class="on4"style="display:none;">
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</pr></div>
<img class="oo tan" src="people/sot.jpg">
</div>

</div>

<style media="screen">
.big{color:black;
font-weight:bolder;}
.r{color: white;}
	.tt .strong{color:white;}
</style>
<script>
  $(document).ready(function functionName() {
$(".up").addClass('animated bounceInDown');
$(".big").addClass('animated flipInX');
    $(".ho1").click(function(){
    $(".ho1").css("display", "none");
    $(".on1").css("display", "block");
    $(".on1").css("color", "white");
  });

      $(".ho2").click(function(){
      $(".ho2").css("display", "none");
      $(".on2").css("display", "block");
      $(".on2").css("color", "white");
    });
    $(".ho3").click(function(){
    $(".ho3").css("display", "none");
    $(".on3").css("display", "block");
    $(".on3").css("color", "white");
  });

  $(".ho4").click(function(){
  $(".ho4").css("display", "none");
  $(".on4").css("display", "block");
  $(".on4").css("color", "white");
});

          var x=1;
    $(".kan").click(function(){
			$(".up").addClass('animated bounceInDown');
			$(".big").addClass('animated flipInX');

      if(x==1){
    $(".kan").css("width", "100px");
    $(".kan").css("height", "100px");
x=0;
  }
else{
    $(".kan").css("width", "50px");
    $(".kan").css("height", "50px");
x=1;}
});
$(".paul").click(function(){

  if(x==1){
$(".paul").css("width", "100px");
$(".paul").css("height", "100px");
x=0;
}
else{
$(".paul").css("width", "50px");
$(".paul").css("height", "50px");
x=1;}
});

$(".neo").click(function(){

  if(x==1){
$(".neo").css("width", "100px");
$(".neo").css("height", "100px");
x=0;
}
else{
$(".neo").css("width", "50px");
$(".neo").css("height", "50px");
x=1;}
});

$(".tan").click(function(){

if(x==1){
$(".tan").css("width", "100px");
$(".tan").css("height", "100px");
x=0;
}
else{
$(".tan").css("width", "50px");
$(".tan").css("height", "50px");
x=1;}
});

  });
</script>

<style>
</style>

<style>
@media (min-width: 600px) {

 .menu{padding-top: 0px;
 height:6%;}

.ite a{color:white;

font-family: 'Roboto Mono', monospace;

 font-size: 150%;
}
.hi{width: 100%;}
.up{text-align: center;
margin-top: 6.2% !important;}
 body{width:100%;
 text-align:center;}
.hid{display: none;}
.logo {font-size: 200%;
  left:5% ;
position: fixed;}
.menu{top:0;
  z-index: 5000;
position: fixed;;width: 100%;}
.ite a{height: 60%;
}
.ite{margin-left:  50% !important;}
.yio{padding-top: 2px !important;
width:70%;
border-bottom-right-radius:15px;
border-top-right-radius:15px; }
.nou strong{
font-size: 120% !important;}
.nou{margin-left: 4% !important;}
body{background-image:url('about/back/mon.jpg');}
</style>

</body>
</html>
