<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<head>

<style>

*{padding: 0%;
margin: 0%;
}

@keyframes fol {
	0% {border-radius:90%;
	}
	100% {
		border-radius:0px;
	}
}
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

@keyframes fit {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-200px);
	}
}

@keyframes flot {
	0% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		margin-top: 500px;
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		margin-top: 20px;
	}
}
@keyframes flat {
	0% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(+120px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}


body{background-image: url("b.jpg");
background-size: cover;

}
.up{

  text-align: center;
  margin-top:4%;
  color:black;
  text-outline: 2px 2px #ff0000;

  width:auto;
  font-family: lobster;
  font-size: 300%;
}
header{
  z-index: 10;

}
/*{z-index:0;
position: fixed;}*/
.hi{

  overflow: hidden !important;
height: 2% !important;}
.slidesjs-container{
height: 2% !important;
overflow: hidden !important;
}


  .container {
    margin: 0 0;
    padding: 2% 0 0 40%;

  }

  /* For tablets & smart phones */
  @media (max-width: 767px) {
    body{background-image:url('b.jpg');
  background-size: cover;}
  .container{padding: 0 0;
}
  }

  /* For smartphones */
  @media (max-width: 480px) {
    body{background-image:url('b.jpg');
  background-size: cover;}
  .container{padding: 0 0;
}
  }

  /* For smaller displays like laptops */
  @media (min-width: 768px) and (max-width: 979px) {
    .container{padding: 0 0;
 }
      body{background-image:url('b.jpg');
    background-size: cover;}
  }


</style>
<style>
body {margin:0;}

</style>
</head>

<style>
.menu{background-color:black;
top:0px;
position:static;
height: 40px;
margin-bottom: 0%;
box-shadow: 0 10px 15px 0px rgba(0,0,0,0.8);
padding-top: 2%;
padding-left:2%;
padding-right:2%;}
.ite{display: inline;
  float: right;
}
.logo{color: white;
font-family: lobster;}
a{text-decoration: none;}
.ary{display: none;
  border-radius: 50%;
  color: white;
font-size: 35px;
top:1.5%;
position: fixed;}

@media (max-width: 720px) {
.menu{padding-top: 3%;}
  .ite{display: none;}
  .logo{margin-left:33%;
    font-size: 180%;
  }
.ary{display: inline;
margin-left: 3%;}
}

</style>
</head>
<header>
  <!--sidebar--------------------------------------------------------------------->

  <style >
  .hold{display: block;
    padding-top:2%;
    border-bottom: 2px solid dimgrey;
    border-top: 1px solid white;
    height: auto;
  text-align: center;
  }
    a{text-decoration: none;
  text-align: justify;
    color:dimgrey;
  display: inline-flex;
  margin-bottom: 3%;
  font-size: 250%}
    .hid{height: 100%;
      top: 0;
      position: absolute;
      z-index: 100000000;
  margin-left:-320px;
      box-shadow: inset 0 15px 0px 0px dimgrey;
      padding-top: 10%;
      padding-left: 3%;
  padding-right: 3%;
    width: 80%;
    background-color:rgba(10,10,35,1);
  color:dimgrey;
  text-decoration: none;}

  .ou{border-bottom:  5px solid rgba(225,225,225,0.5);
    border-radius: 20px;
  height: 30%;

  }
  .rl{
    border-top: 5px  white;
    border: 5px solid white;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: dimgrey;
  color: white;
  font-weight:bolder;
  margin-left: 90px;
  padding-top:17%;
  font-size: 55px;
	line-height: 0px;
  text-align: center;
  }
  .set{
    display: inline;
  font-size: 40px;
  }
  @media (min-width: 720px){
    .hid{display: none;}
    .big{margin-top:5px;}
  }
  </style>
  <div class="hid">
    <div class="ou">

    <div class="rl">
      Pd
    </div>
    <i class="back fa fa-chevron-circle-left fa-4" style=" margin-top:-20px; font-size:60px;display:block; float:right;" aria-hidden="true"></i>
  </div>

    <div class="hold" style="border-top:none;">
    <a href="/" style="margin-top:15%;">Home</a>
    <i class="set fa fa-home fa-8" aria-hidden="true"></i></div>
  <div class="hold">
    <a href="/gal">gallery </a>
    <i class="set fa fa-eercast fa-8" aria-hidden="true"></i>
  </div>

    <div class="hold">
      <a href="/con">Contact </a>
  <i class="set fa fa-tty fa-8" aria-hidden="true"></i>
    </div>
  <div class="hold" style="border-bottom:none;">
    <a href="about">About   </a>
  <i class="set fa fa-users fa-8" aria-hidden="true"></i>
  </div>

    </div>
    <!--sidebar-->
  <i class="ary fa fa-chevron-circle-right fa-4" aria-hidden="true"></i>
  <div class="menu">
  <a class="logo" href="/">Pixel Dust</a>
  <div class="ite">
    <a href="/">Home</a>
    <a href="/gal">gallery</a>
    <a href="/con">Contact</a>
    <a href="about">About</a>
    </div>
</div>
</header>
<script>
  $('.ary').on('click', function () {
$(".hid").animate({marginLeft: '0px' }, 500);

  });

  $('.back').on('click', function () {
$(".hid").animate({marginLeft: '-500px' }, 500);

  });
</script>




<div class="up" style="top:0;possition:fixed;width:80%;margin-left:10%;box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);  animation: float 2s ease-in-out;">
  Gallery

</div>
<style>
.ani{animation: fol 2s ease-in-out;}
.container{margin-top: 20px;
	overflow: scroll;

	padding-top: 10px;
	background-color: rgba(225,225,225,0.4);
	border-radius: 10px;
	width: 94%;
	margin-left: 3%;
}

  .tt{width: 75%;
text-align:justify;
  }
  .oo{overflow: hidden;
    margin-bottom: 23px;

background-color: rgba(225,225,225,0.5);
    padding: 8px;
    height:100px;
    animation: flot 2s ease-in-out;
    width: 96%;
    margin-left: 2% ;
  }
  .ig{height: auto;
  width: 100%;}
  .in{height: 86px;
  overflow:hidden;}
	.menu{padding-top: 5px;
	margin-bottom: 25px;}
	}
</style>

<div class="container">
<% for(var i=0; i < qs.im.length; i++) { %>
  <div class="oo" >
    <div class="in">
    <img class="ig" src="<%=qs.im[i]%>">
    </div>
  </div>
  <% } %>
</div>



<script>
var ss = screen.height;
var x=0;
  $(document).ready(function functionName() {
 $(".oo").click(function functionName() {
	 if(x==0){
 $(".oo").hide();
 $(".up").hide();
 $(".topnav").hide();
 $(".oo").css("animation","none");
 $(".container").height(ss + "px")
 this.style.display = "flex";
 this.style.height= "auto";
 $(".container").css("margin-top","0px");
 $(".oo").css("margin-top",ss/4.5 + "px");
 $(".ig").height(200);
 $(".in").height(200);

 $(".oo").css("background-color","rgba(0,0,0,0.5)");
 $(".oo").css('opacity','0.4');
	$(".container").css("background-color","rgba(0,0,0,0.8)");
	$(".oo").animate({opacity: 1,
	"border-radius": "0px"});
x=1;
}
else{
	$(".oo").animate({opacity: 0.6});
	$(".oo").animate({opacity: 1});

window.open("http://pixel-dust.herokuapp.com/con/","_self").delay(3000);
alert("Visit Contact Page for More Info");}




 });
$('.container').on('click', function () {
$(".container").css("background-color","rgba(225,225,225,0.4)");
$(".container").css({height:""});
$(".topnav").css({display:"block"});
$(".up").css({animation:"",display:"block"});
 $(".oo").css({"margin-top":""});
 $(".ig").css({height:""});
 $(".in").height(86);
 $(".oo").css({display:"block"});
 $(".container").css("margin-top","20px");
x=0;



}).children().on('click', function (event) {
    event.stopPropagation();
    //you can also use `return false;` which is the same as `event.preventDefault()` and `event.stopPropagation()` all in one (in a jQuery event handler)
});
});
</script>

<style>
</style>

<style>
/*{z-index:0;}*/
</style>
</body>
</html>
