<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<style media="screen">
.menu{background-color:black;
top:0px;
position:static;
height: 40px;
margin-bottom: 0%;
box-shadow: 0 10px 15px 0px rgba(0,0,0,0.8);
padding-top: 2%;
padding-left:2%;
padding-right:2%;}
.ite{display: inline;
  float: right;
}
.logo{color: white;
font-family: lobster;}
a{text-decoration: none;}
.ary{display: none;
  border-radius: 50%;
  color: white;
font-size: 35px;
top:1.5%;
position: fixed;}

@media (max-width: 720px) {
.menu{padding-top: 3%;}
  .ite{display: none;}
  .logo{margin-left:33%;
    font-size: 180%;
  }
.ary{display: inline;
margin-left: 3%;}
}

</style>
</head>
<header>
  <!--sidebar--------------------------------------------------------------------->

  <style media="screen">
  .hold{display: block;
    padding-top:2%;
    border-bottom: 2px solid dimgrey;
    border-top: 1px solid white;
    height: auto;
  text-align: center;
  }
    a{text-decoration: none;
  text-align: justify;
    color:dimgrey;
  display: inline-flex;
  margin-bottom: 3%;
  font-size: 250%}
    .hid{height: 100%;
      top: 0;
      position: absolute;
      z-index: 100000000;
  margin-left:-320px;
      box-shadow: inset 0 15px 0px 0px dimgrey;
      padding-top: 10%;
      padding-left: 3%;
  padding-right: 3%;
    width: 80%;
    background-color:rgba(10,10,35,1);
  color:dimgrey;
  text-decoration: none;}

  .ou{border-bottom:  5px solid rgba(225,225,225,0.5);
    border-radius: 20px;
  height: 30%;

  }
  .rl{
    border-top: 5px  white;
    border: 5px solid white;
  border-radius: 50%;
  height: 81px;
  width: 100px;
  background-color: dimgrey;
  color: white;
  font-weight:bolder;
  margin-left: 90px;
  padding-top:7%;
  font-size: 55px;
  line-height: -30px;
  text-align: center;
  }
  .set{
    display: inline;
  font-size: 40px;
  }
  @media (min-width: 720px){
    .hid{display: none;}
    .big{margin-top:5px;}
  }
  </style>
  <div class="hid">
    <div class="ou">

    <div class="rl">
      Pd
    </div>
    <i class="back fa fa-chevron-circle-left fa-4" style=" margin-top:-20px; font-size:60px;display:block; float:right;" aria-hidden="true"></i>
  </div>

    <div class="hold" style="border-top:none;">
    <a href="/" style="margin-top:15%;">Home</a>
    <i class="set fa fa-home fa-8" aria-hidden="true"></i></div>
  <div class="hold">
    <a href="/gal">Galary </a>
    <i class="set fa fa-eercast fa-8" aria-hidden="true"></i>
  </div>

    <div class="hold">
      <a href="/con">Contact </a>
  <i class="set fa fa-tty fa-8" aria-hidden="true"></i>
    </div>
  <div class="hold" style="border-bottom:none;">
    <a href="about">About   </a>
  <i class="set fa fa-users fa-8" aria-hidden="true"></i>
  </div>

    </div>
    <!--sidebar-->
  <i class="ary fa fa-chevron-circle-right fa-4" aria-hidden="true"></i>
  <div class="menu">
  <a class="logo" href="/">Pixel Dust</a>
  <div class="ite">
    <a href="/">Home</a>
    <a href="/gal">Galary</a>
    <a href="/con">Contact</a>
    <a href="about">About</a>
    </div>
</div>
</header>
