<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylrsheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<head>
<title>Foss Assam</title>
<style>

/*{z-index:0;
position: fixed;}*/
.hi{
  overflow: hidden !important;
height: 2% !important;}
.slidesjs-container{
height: 2% !important;
overflow: hidden !important;
}
#slides {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
    margin-left: 12.5%;
        width: 75%;
    margin-top: 0px;
    margin-bottom: 10px;
    box-shadow: 0px 20px 15px rgba(0,0,0,0.8);

  }


  #slides a:link,
  #slides a:visited {
    color: #333
  }

  #slides a:hover,
  #slides a:active {
    color: #9e2020
  }


</style>
<!-- End SlidesJS Optional-->

<!-- SlidesJS Required: These styles are required if you'd like a responsive slideshow -->
<style>
  #slides {
    display: none
  }

  .container {
    margin: 0 auto;

  }

  /* For tablets & smart phones */
  @media (max-width: 767px) {
    body{background-color:dimgrey;background-image:url("b.jpg");
  background-repeat: repeat-y;
background-size: cover;}
#slides{  margin-left: 0%;
    width: 100%;}
img{height: 80%;}

  }

  /* For smartphones */
  @media (max-width: 480px) {
    body{background-color:dimgrey;background-image:url("b.jpg");
  background-repeat: repeat-y;
background-size: cover;}
  img{height: 100%;}
  #slides{  margin-left: 0%;
      width: 100%;}
      %;}

  }

  /* For smaller displays like laptops */
  @media (min-width: 768px) and (max-width: 979px) {
    body{background-color:dimgrey;background-image:url("b.jpg");
  background-size: cover;
  background-repeat: repeat-y;
  }
  img{height: 100%;}

}
@media (min-width: 978px) {
   body{background-color:dimgrey;background-image:url("b.jpg");
   background-repeat: repeat-y;

}}
  /* For larger displays */
  @media (min-width: 1200px) {
   body{background-color:dimgrey;background-image:url("b.jpg");
 background-repeat: repeat-y;}
img{height: 100%;}
.dai{margin-top:2px;}
}
</style>
<style>
body {margin:0;}
@media (max-width: 600px) {
body{background-color:dimgrey;background-image:url("b.jpg");
background-repeat: repeat-y;}
}
</style>
<style media="screen">
.menu{background-color:black;
top:0px;
position:static;
height: 40px;
margin-bottom: 0%;
box-shadow: 0 10px 15px 0px rgba(0,0,0,0.8);
padding-top: 2%;
padding-left:2%;
padding-right:2%;}
.ite{display: inline;
  float: right;
}
.logo{color: white;
font-family: lobster;}
a{text-decoration: none;}
.ary{display: none;
  border-radius: 50%;
  color: white;
font-size: 35px;
top:1.5%;
position: fixed;}

@media (max-width: 720px) {
.menu{padding-top: 3%;}
  .ite{display: none;}
  .logo{margin-left:33%;
    font-size: 180%;
  }
.ary{display: inline;
margin-left: 3%;}
}

</style>
</head>
<header>
  <!--sidebar--------------------------------------------------------------------->

  <style media="screen">
  .hold{

    display: block;
    padding-top:2%;
    border-bottom: 2px solid dimgrey;
    border-top: 1px solid white;
    height: auto;
  text-align: center;
  }
    a{text-decoration: none;
  text-align: justify;
    color:black;
  display: inline-flex;
  margin-bottom: 3%;
  font-size: 250%}
    .hid{height: 100%;
background-image:url('/b.jpg');
      top: 0;
      position: absolute;
      z-index: 100000000;
  margin-left:-320px;
      box-shadow: inset 0 15px 0px 0px dimgrey;
      padding-top: 10%;
      padding-left: 3%;
  padding-right: 3%;
    width: 80%;
    background-color:rgba(10,10,35,1);
  color:black;
  text-decoration: none;}

  .ou{border-bottom:  5px solid rgba(0,0,0,0.9);
    border-radius: 20px;
  height: 30%;

  }
  .rl{
    border-top: 5px  dimgrey;
    border: 5px solid dimgrey;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: dimgrey;

  color: white;
  font-weight:bolder;
  margin-left: 90px;
  }
  .set{
    display: inline;
  font-size: 40px;
  }
  @media (min-width: 720px){
    .hid{display: none;}
    .big{margin-top:5px;}
  }
  </style>
  <div class="hid">
    <div class="ou">

    <div class="rl" style="background-image:url('/fo.png'); background-size:cover; background-repeat:no-repeat;">

    </div>
    <i class="back fa fa-chevron-circle-left fa-4" style=" margin-top:-20px; font-size:60px;display:block; float:right;" aria-hidden="true"></i>
  </div>

    <div class="hold" style="border-top:none;">
    <a href="/" style="margin-top:15%;">Home</a>
    <i class="set fa fa-home fa-8" aria-hidden="true"></i></div>
  <div class="hold">
    <a href="/gal">Whats New</a>
    <i class="set fa fa-eercast fa-8" aria-hidden="true"></i>
  </div>

    <div class="hold">
      <a href="/con">Contact Us</a>
  <i class="set fa fa-tty fa-8" aria-hidden="true"></i>
    </div>
  <div class="hold" style="border-bottom:none;">
    <a href="about">About Us</a>
  <i class="set fa fa-users fa-8" aria-hidden="true"></i>
  </div>

    </div>
    <!--sidebar-->
  <i class="ary fa fa-chevron-circle-right fa-4" aria-hidden="true"></i>
  <div class="menu">
  <a class="logo" href="/">Foss Assam</a>
  <div class="ite">
    <a href="/">Home</a>
    <a href="/gal">Whats New</a>
    <a href="/con">Contact Us</a>
    <a href="about">About Us</a>
    </div>
</div>
</header>
<script>
  $('.ary').on('click', function () {
$(".hid").animate({marginLeft: '0px' }, 500);

  });

  $('.back').on('click', function () {
$(".hid").animate({marginLeft: '-500px' }, 500);

  });
</script>

<body>
  <div class="dai" style="margin-top:-20px;box-shadow:inset 0 5px 10px 0 black;">For The Love Of Code</div>
<div class="hi">
  <div id="slides">
    <img src="slide/img/<%= qs.files[1] %>" alt="Sayon Sen">
    <img src="slide/img/<%= qs.files[2] %>" alt="Sayon Sen">
    <img src="slide/img/<%= qs.files[3] %>" alt="Sayon Sen">
    <img src="slide/img/<%= qs.files[0] %>" alt="Sayon Sen">
  </div>
  <style media="screen">
    .nou{display: inline-block;}
  </style>
  <div class="yio" style="padding-top:12px;margin-bottom:0px;text-align:center;height:75px;background-color:rgba(0,0,0,0.4);">
<div class="nou">
<strong style="display:block;">Java</strong>
<i class="fa fa-coffee" style="font-size:50px;"></i>
</div>
<div class="nou">
<strong style="display:block;">CSS3</strong>
<i class="fa fa-css3" style="font-size:50px;"></i>
</div>
<div class="nou">
<strong style="display:block;">Android</strong>
<i class="fa fa-android" style="font-size:50px;"></i>
</div>

<div class="nou">
<strong style="display:block;">HTML</strong>
<i class="fa fa-code" style="font-size:50px;"></i>
</div>

<div class="nou">
<strong style="display:block;">M.L.</strong>
<i class="fa fa-bar-chart" style="font-size:50px;"></i>
</div>

  </div>
<style>
  .big{
   margin-left: 5%;
  	  animation: flat 3s ease-in-out ;
  	margin-top: 7.5%;
  width:90%;
  border-bottom-right-radius: 50px;
   border-bottom-left-radius: 50px;

  box-shadow: 0 20px 15px 0px rgba(0,0,0,0.6);
    text-align: center;}
@media (min-width: 720px){
.big{
  margin-top: 5%;

}
strong{
  font-size: 30px;
}
}

    .tt{width: 100%;
  text-align:center;
    }
    .oo{
  background-color: rgba(0,0,0,0.5);
      padding: 4px;
      width:100px;height:100px;border-radius:50%;
      animation: float 6s ease-in-out infinite;
    }
    .tweet{border-radius:50%;

  height:80px;
  width: 80px;
    font-size:18px;
    }
    button{background-color:rgba(0, 0, 0, 0.3);}
    .dai{font-family:lobster; text-align:center;font-size:30px;
    }

</style>
<style>
  @media (min-width: 600px) {
body{background-color:dimgrey;background-image:url("b.jpg");
background-size: cover;
background-repeat: repeat-y;}
.dai{margin-top:1px;}
    .big{marin-top:20px;}
    .tt{margin-left:0px;};
    }
</style>
  <div class="container" style="margin-top:-5px;">
  <div class="big animated flipInX" style="border-bottom:5px solid black;margin-top:3px;"><a href="http://blog.fossassam.com"><button class="tweet  btn btn-primary fa-spin ">
    Blog<i class="fa fa-newspaper-o fa-spin" style="font-size:36px"></i>
  </button></a>
  <a href="https://www.facebook.com/fossAssam"><button class="tweet  btn btn-primary fa-spin ">
    F-Book<i class="fa fa-facebook fa-spin" style="font-size:36px"></i>
  </button></a>
  <a href="http://www.instagram.com"><button class="tweet  btn btn-primary fa-spin ">
    Insta<i class="fa fa-instagram fa-spin" style="font-size:36px"></i>
  </button></a>
  <p></p>
  <div class="tt" style="margin-top:-10px;margin-left:0%;margin-bottom:-10px; text-align:center;"> <strong><a style="text-decoration:underline;color:black;font-size:inherit;" href="https://www.facebook.com/badal.mishra.5264382">© Badal Mishra</a></strong>
</div></div></div>
<!-- End SlidesJS Required: Start Slides -->
<style>

  @media (max-width: 767px) {
    strong{margin-bottom: 1px;}
    .dai{margin-top: 0px;}
    .menu{padding-top: 5px;
    margin-bottom: 25px;}
    }
    @media (min-width: 1200px) {
      strong{margin-bottom: 1px;}
      .dai{margin-top: -60px;
  }
      .menu{padding-top: 5px;
      margin-bottom: 25px;}
      }
</style>
<!-- SlidesJS Required: Link to jQuery -->
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<!-- End SlidesJS Required -->

<!-- SlidesJS Required: Link to jquery.slides.js -->
<script src="js/jquery.slides.min.js"></script>
<!-- End SlidesJS Required -->

<!-- SlidesJS Required: Initialize SlidesJS with a jQuery doc ready -->
<script>
  $(function() {
    $('#slides').slidesjs({
      width: 940,
      height: 540,

      play: {
        active: false,
        auto: true,
        interval: 4000,
        swap: true
      },
       navigation: false,
       pagination: false,
        generatePagination: false
    });
  });
</script>

</body>

<div class="vac" style="font-size:50px;text-aling:center;margin-top:100px;display:none;">Just Open on mobile!!!</div>
<style>
@media (min-width: 720px) {
  *{display: none;}
 .vac{display:block;}

}
</style>
</html>
